.triangle-up ,.triangle-up-20 ,.triangle-up-40,.triangle-up-80,.triangle-up-100 {
display:block;
 width:0;
 float:left;
 height: 0;
 
 z-index:-1;
 margin:5px;
 position:absolute;
 animation: skew 3s infinite;
  transform: skew(25deg);
  animation-direction:alternate;

}
@keyframes skew{
  0% {transform:skewX(25deg);}
  100% {transform:skewY(-25deg);}
}
 
    
@keyframes rotate{
 0% {transform:rotate(65deg);}
  100% {transform:rotate(-65deg);}
}


.triangle-up{
border-left: 50px solid transparent;
 border-right: 50px solid transparent;
 border-bottom: 100px solid #e6005c;
 color:#e6005c;
 opacity:50%;
  transform-origin: 16px 22px;
  transform: rotate(25deg);
  
 
}
.triangle-up-20{
left:60px;
border-left: 120px solid transparent;
 border-right: 30px solid transparent;
 border-bottom: 150px solid white;
 color:white;
 opacity:20%;
 transform: rotate(20deg);
 
}
.triangle-up-40{
 left:150px;
 top:0px;
border-left: 150px solid transparent;
 border-right: 80px solid transparent;
 border-bottom: 100px solid #e6005c;
 color:#e6005c;
 transform: rotate(40deg);
 
}
.triangle-up-80{
top:0;
border-left: 120px solid transparent;
 border-right: 50px solid transparent;
 border-bottom: 80px solid #ccc;
 color:#ccc;
 opacity:80%;
 transform: translate(30%, 200px);

}
.triangle-up-100{
border-left: 280px solid transparent;
 border-right: 50px solid transparent;
 border-bottom: 400px solid #000000;
 color:#000000;
 opacity:80%;
 transform: rotate(180deg);

}







   
html{
background: linear-gradient(#000000,#ffa64d, #660029) fixed;
background-position: center;
background-size:cover;
background-repeat:no-repeat;

}



}





#main-nav {
    position: fixed;
    z-index: 99999999;
    top: 0;
    width: 100%;
    padding: 8px 0;
    transition: 300ms all cubic-bezier(.4,0,.2,1);}
	

.row-container {
    display: flex;
    max-width: 90%;
    margin: auto;
    position: relative;
	justify-content: flex-end;
}


.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  overflow:hidden;
  display: none;
  position: absolute;
  background-color: #660029;
  width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  opacity:90%;
  text-indent:2px;
}

.btn{
background:transparent;
 text-align:center;
color:white;
font-size:25px;
  border: none;
  text-font:Lucida Console;
text-decoration:none;
}

.dropdown-content a{
color:white;
text-decoration:none;

}

.dropdown:hover .dropdown-content {
  
  display: block;
 
}
.dropdown:hover .btn{
  color:#660029;
}




.create:before {
content: url(image.png);}



.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.page-content{
	overflow:hidden;
	position:relative;
	margin:auto;
    height: 950px;
	width:90%;
	
}


button{
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  opacity:90%;
  width:150px;
  height:50px;
  padding: 14px 20px;
}

button:hover{
opacity:100%;
transform: scale(1.03) perspective(1px);}




.container {

  background-color:hsl(341, 100%, 95%);
  position:relative;
  width:520px;
  height:700px
  border-radius:15px;
  padding: 16px;
  margin:auto;
  z-index:2;
 
}




.parallax{
margin:80px 80px 0 80px;
height:750px;
background-size: cover;
background-position: center;
background-repeat:no-repeat;
background-attachment:fixed;



}



.txtbox{
background-color:rgba(255, 99, 71, 0.4);
padding:50px;
height:500px;
display:flex;
justify-content:space-between;


}
.pic{

background-image:url("art.jpg");
 background-blend-mode: lighten;
background-repeat:no-repeat;
background-size:cover;
background-position:center;
z-index:-1;
height:700px;

}
.next{
opacity:100%;
display:flex;
position:relative;
color:white;
font-size:50px;
cursor:pointer;

background-color:transparent;
text-align:center;
justify-content:center;
}

.prev{
opacity:100%;
position:relative;
display:flex;
position:relative;
color:white;
font-size:50px;
cursor:pointer;
background-color:transparent;
text-align:center;
justify-content:center;

visibility:hidden;
}


input#content{
	border:none;
	background-color:rgba(0,0,0,0);
	color:black;
	font-size:20px;
}



@media (min-width: 2000px) {
.page-content{ width:60%}
}

@media (min-width: 5800px) {
.page-content{width:40%;}
}
@media (min-width: 700px) {
.page-content{ width:100%}
}
